.superDiv {
  justify-content: space-evenly;
  /* margin-top: 3%; */
}
.superDiv.active {
  filter: blur(10px);
  position: fixed;
  justify-content: space-evenly;
  left: 30%;
  top: 20%;
  display: wrap;
}

.addTodoPopup.active {
  visibility: visible;
  position: fixed;
  top: 40%;
  left: 50%;
  /* position: absolute; */
  /* margin-left: 47%;
  margin-top: 8%; */
  /* margin: auto; */
}
.addTodoPopup {
  /* display: none; */
  visibility: hidden;
}
h1 {
  position: fixed;
  left: 47%;
  top: 0%;
}
body {
  font-family: "Courier New", "Courier", "monospace";
}
